/* 






Global Styles








*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.7;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* 






Header








*/

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.top__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.header__logo img {
  width: 111px;
}

.cta__btn__dark {
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 28px;
  color: #fff;
  background: #13183f;
  width: 167px;
  height: 56px;
  transition: background 0.3s ease-in-out;
}

.cta__btn__dark:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* 






Bottom Header








*/

.bottom__header__container {
  padding: 2rem 0rem;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.bottom__header__text {
  padding-top: 9rem;
}

.bottom__header__text h1 {
  font-size: 56px;
  font-weight: 800;
  color: #13183f;
  width: 50%;
  padding-bottom: 2rem;
}

.bottom__header__text p {
  font-size: 18px;
  font-weight: 500;
  color: #83869a;
  width: 40%;
  padding-bottom: 2rem;
}

.bottom__header__text button {
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 28px;
  color: #fff;
  background: rgb(255, 0, 164);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 164, 1) 0%,
    rgba(255, 93, 68, 1) 100%
  );
  width: 167px;
  height: 56px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

.bottom__header__text button:hover {
  opacity: 0.9;
}

.bottom__header__img img.desktop__hero {
  position: absolute;
  top: -12%;
  right: 6%;
  transform: translateX(340px);
}

.bottom__header__img img.tablet__hero {
  display: none;
}

.bottom__header__img img.mobile__hero {
  display: none;
}

/* 






Media Queries








*/

/* 



Tablet



*/

@media only screen and (max-width: 1024px) {
  .bottom__header__text {
    padding-top: 3rem;
  }

  .bottom__header__img img.desktop__hero {
    display: none;
  }

  .bottom__header__img img.mobile__hero {
    display: none;
  }

  .bottom__header__img img.tablet__hero {
    display: block;
    position: absolute;
    top: -2%;
    right: 9%;
    transform: translateX(340px);
  }
}

/* 



Mobile Portrait



*/

@media only screen and (max-width: 600px) {
  header {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .header__logo img {
    width: 89px;
  }

  .cta__btn__dark {
    font-size: 16px;
    width: 140px;
    height: 48px;
  }

  .bottom__header__container {
    padding: 0rem;
    width: 90%;
    margin: auto;
  }

  .bottom__header__text {
    padding-top: 0rem;
  }

  .bottom__header__text h1 {
    font-size: 40px;
    font-weight: 800;
    color: #13183f;
    width: 100%;
    padding-bottom: 1rem;
  }

  .bottom__header__text p {
    font-size: 16px;
    width: 100%;
  }

  .bottom__header__img img.desktop__hero {
    display: none;
  }

  .bottom__header__img img.tablet__hero {
    display: none;
  }

  .bottom__header__img {
    margin: 2rem auto;
  }

  .bottom__header__img img.mobile__hero {
    display: block;
    width: 100%;
  }
}
